body{
	background: #E6E6E6;
	font-family: sans-serif;
}

.modal-content{
	font-size: 12px;
}
/* ESTILO GENERALES, COLORTEXT Y BOTONES */
.colort1{
	color: #2D0000;
}
.colort2{
	color:white;
}
/*.bt1{
	background: #F1EF63;
	border-color:#E8E40E;
}*/
.bt1:hover{
	background: #FFEE37;
}
.bt2{
	background: #2BEF47;
	border-color: #27DA06;
}
.bt2:hover{
	background: #27DA06;
}
.bt3{
	background: #EAB026;
	border-color: #D69201;
}
.bt3:hover{
	background: #D69201;
}
/* BOX HEADER (ENCABEZADO DE DONDE VA EL CONTENIDO) */
.bg1{
	background: #3E4244;
	color: white;
	font-family: helvetica;

}
/*ESTILOS CARD DE CONSULTA */
.hcard{
	border-top: 2px solid #303030; 
	background: #F6F3E9
}
/* ESTILOS PARA LAS TABLAS DINAMICAS E HISTORIAL */
tbody,thead{
	text-align: center;
	align-items: center;
}
.tableresp{
	background: #ecf0f5; 
	border: 2px solid #dedede; 
	border-top: none;
}
/* ESTILO DEL DROPDOWN DE USUARIO */
.usersalir{
	padding: 15px;
	color: white;
	background: #3fc7c3;
}
.usersalir:hover{
	padding: 15px;
	text-decoration: none;
}
/* ESTILOS PARA LOS BOTONES QUE CREAN Y CIERRAN MODALES */
.btcerrar{
	background: #F8C156;
	border-color: #FE9D46;
}
.btcerrar:hover{
	background: #FE9D46;
}
.btcrear{
	background: #2ee892;
	border-color: #0AD272; 
}
.btcrear:hover{
	background: #0AD272;
}
/* ESTILOS DE LA MODAL QUE ESTA EN ARTICULOS */
.bg-header-modal{
	background: #30AFE9; 
	color: #ffffff;
}
.bg-header-modal > i,
.bg-header-modal button span{
	color: #ffffff;
}
.bg-body-modal{
	background: #FCFFF7;
}
.bg-body-modal > label{
	color:black;
}
.div-select{
	margin-top: 10px;
}
.btn-agg{
	float: right;
	display: block;
	width: 140px;
   	padding: 5px;
   	background: #227f6e;
    color: #ffffff;
    text-align: center;
   	text-decoration: none;
    font-size: 14px;
    border-radius: 5px;

}
.btn-agg:hover{
	border: 1px solid black;
	background: #2ee892;
	text-decoration: none;
	color:black;
	transition: all 700ms ease;
}
.bg-footer-modal{
	background: #989898; 
	color: black;
}
/* FOOTER */
.color-foot{
	background: #3fc7c3; 
	color: white;
}

/* Span Error */

#spanError1,#spanError2{
	color: red;
}

.hidden{
	display: none;
}

/* CONSULTA TALBA */

.tabla-consulta{
	border: grey 1px solid;
}



/* ADMIN LTE */

.box{
	border-top: 3px solid #6D7678;
	border-bottom: 3px solid #6D7678;
	font-size: 12px;
}