.view-login, body{
  font-size: 16px;
  font-family: helvetica;
  background: #02182f;
}

.contenedor-login{
  max-width: 400px;
  width: 90%;
  margin:auto;
}

.titulo-sesion{
  font-size: 40px;
  font-weight: 400;
  color: #d17709;
  text-align: center;
  margin: 50px 0 30px 0;

}


.line-sesion{
  border:none;
  margin-bottom: 8px;
  border-top: 10px solid #d17709;
}

.formulario-login{
  background: #031640;
  padding: 20px;
}

.formulario-login .formulario-grupo{
  width: 100%;
  margin-bottom: 10px;
}

.formulario-login input[type="text"],
.formulario-login input[type="password"]{
  padding:10px;
  font-family: helvetica;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.formulario-login input[type="text"]:focus,
.formulario-login input[type="password"]:focus{
  border: 2px solid #d17709;
}

.formulario-login .icono{
    padding: 10px;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 16px;
    border-radius: 5px;
    background: #d17709;
    display:inline-block;
    color: #fff;
    vertical-align: top;
}

.formulario-login .icono .izquierda{
  margin-right: 5px;
  border-radius: 3px 0 0 3px;
}

.formulario-login .usuario{
  width: 80%;
}
.formulario-login .clave{
  width: 68%;
}

.formulario-login .submit-btn{
  padding: 10px;
  text-align: center;
  width: 20px;
  height: 20px;
  font-size: 17px;
  line-height: 18px;
  background: #036b1a;
  display:inline-block;
  border-radius: 5px;
  color: #eeeeee;
  vertical-align: top;
}

.formulario-login .submit-btn:hover{
  cursor: pointer;
  background: rgb(6, 139, 35);
  color:rgb(220, 225, 226);
  box-shadow: 3px solid grey;
}

#spanError2{
  margin-top: 5px;
  padding: 10px;
  background: #F5BDBD;
  border-color: #F51111;
  color: #F51111;
  text-align: center;
}